<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <% if (categories.length > 0) { %>
       <ul>
            <% categories.forEach(category => { %>
                <li><a href="/category/<%= category.category_id %>"><strong><%= category.category_name %></strong></a></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No categories available.</p>
    <% } %>

    <div class="action-bar">
        <a href="/new-category" class="btn">Add Category</a>
    </div>
</main>


<%- include('partials/footer') %>