

<%- include('partials/header') %>
<main>
    <h2><%= title %></h2>
    <p>Here are our upcoming service projects:</p>
    <p><a href="/new-project">Add a New Service Project</a></p>
    
    <ul>
        <% if (projects && projects.length > 0) { %>
            <% projects.forEach(project => { %>
                <% const projectDate = new Date(project.date || project.project_date); %>
                <li>
                    <a href="/project/<%= project.project_id %>">
                        <%= projectDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>:
                        <%= project.title %>
                    </a>
                    (<a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>)


                    <a href="/assign-categories/<%= project.project_id %>">Edit Categories</a>
                </li>
            <% }); %>
        <% } else { %>
            <li>No service projects are currently available.</li>
        <% } %>
    </ul>
</main>

<%- include('partials/footer') %>